@use "../../styles//variables" as *;

.image-background {
  position: relative;
  height: 20vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .article-container {
    width: 100%;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;

    .article-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .article-title {
      text-align: center;
    }
  }
  .article-link {
    display: flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    margin-top: 15px;
  }
}
