@use "../../styles//variables" as *;

.image-background {
  position: relative;
  height: 20vh;
  background-size: cover;
  background-position: center;

  .article-container {
    width: 90%;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;

    .article-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .article-title {
      text-align: center;
    }
  }
  .article-link {
    display: flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    margin-top: 15px;
  }
}

.article-link {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  margin-top: 15px;
}
